*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
header{
    height: auto;
    background-color:rgb(241, 241, 8);
    padding-bottom: 50px;
}
.menus{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 50px 0px;
} 
.vertical{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 20px;
}
.title{
    font-size: 26px;
}
span{
    color: red;
}
.btn2{
    padding: 10px 30px;
    background-color: gray;
    color: black;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}
.menus ul li{
    list-style: none;
}
.banner{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.content{
    max-width: 400px;
    margin: 20px  180px 0px 0px;
}
.content h2{
    font-size: 55px;
    margin-bottom: 20px;
}

.content p{
    font-size: 20px;
    margin-bottom: 50px;
}
.btn{
    padding: 10px 30px;
    background-color: black;
    color: white;
    font-size: 18px;
}
.profile{
    width: 500px;
    height: 550px;
}


/*  small */

@media screen and (max-width: 576px) {
    .banner, .menus{
        flex-direction: column;
    }
    .banner{
        margin: 30px;
    }
    .menus{
        margin: 50px;
    }
    
    .btn{
        margin-bottom: 10px;
    }
    .profile{
        width: 100%;
    }
    .content{
        margin: 0px 30px;
    }
}


/*  medium  */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .banner{
        flex-direction: column;
    }
    .banner{
        margin-left: 150px;
    }
    .menus{
        margin: 80px;
    }
    .btn{
        margin-bottom: 10px;
    }
}